/* ====================================
 Project
==================================== */
/* 青のボタンを定義しています。
==================================== */
.p-btn-blue {
  background-color: $color_btn_blue;
  width: 120px;
  margin-right: $space_s;
  //margin-bottom: 4px;
  //padding: 4px;
}