/* ====================================
 Project
==================================== */
/* スキル一覧を定義しています。
==================================== */
.p-skill-panels {
  flex-wrap: wrap;
  margin-right: -3%;

  @include mq(sm) {
    margin-right: 0;
  }
}
