/* ====================================
 Layout
==================================== */
/* FlexBoxを定義しています。
==================================== */

.l-flexbox {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}