/* ====================================
 Layout
==================================== */
/* ヘッダーを定義しています。
==================================== */
.l-header {
  //background-color: $color_white;
  width: 100%;
  position: fixed;
  z-index: 5;
  &__container {

  }
}